/* El selector universal*/
/* 1.PRIMERO declaras la fuente - FUERA del selector * */
@font-face {
    font-family: "Poppinslocal";
    src:url("../fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*. LUEGO aplicas a TODO con el selector universal */
*{
  font-family:  "PoppinsLocal"; 
  margin: 0; /* En el celular ponemos los margenes en 0 para asi poder editar a nuestro gusto*/
  padding: 0; /* En el celular ponemos los rellenos en 0 para asi poder editar a nuestro gusto*/
  box-sizing: border-box; /*El comportamiento por defecto de los navegadores*/
}
body{
    background-color: #000000; /* Color del fondo BLANCO*/
} 

header{
    background-color: #ffff; /*Color del fondo negro*/
    height: 55; /* Altura de la barra del MENU*/
    display: flex;
    padding: 0 16px;
}
